/* section[data-css="sidebar-footer"] {
  display: none !important;
} */
.login__Wrapper div.adminjs_Illustration {
  display: none !important;
}


.login__Wrapper section.adminjs_Box.eHpqWf {
  background-image: url("uploads/logo/speedprologo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  color: #f03712;
  width: 100%;
  min-height: 200px;

  padding: 0 !important;
}
